.container-travel {
    position: relative;
	padding: 0 80px;
	font-family: 'Montserrat', sans-serif;

    max-width: 1560px;



    img {
        width: 100%;
    }
}


.back__news {
	color: #1599FC;
	text-transform: lowercase;
	transition: color .2s;
	font-size: 18px;
	font-weight: 600;
	&:hover {
		color: #4693CC;
	}
}


.back_animate {

 overflow:hidden;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    background: transparent;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-family: arial;
    cursor: pointer;
    margin-bottom: 60px;
    margin-top: 50px;
}

.icon-block {
    position: relative;
    background: url('../static/img/about_travel/arrow.png') no-repeat;
    width: 55px;
    height: 10px;
    display: block;
    float: left;
   	margin-top: 13px;
   	margin-right: 16px;
    opacity: 1;
    transition: opacity .2s;

}
.back_animate:hover .icon-block {
      opacity: 0;
}
 

.about_travel-wrap {
	display: flex;
	
	
	justify-content: space-between;
}
#travel-profile-2 {
    flex-direction: row-reverse;
    padding-top: 112px;
    padding-bottom: 252px;

    .travel__title {
        margin-top: 90px;
        max-width: 350px;
    }
}
.travel {
	&__title {
	max-width: 280px;
	padding-bottom: 64px;
	font-size: 36px;
	font-weight: 400;
	}
	&__text {
	width: 45%;
	
	}
	&__subtitle {
		line-height: 32px;
		font-size: 20px;
		font-weight: 400;
		color: #13293D;
	}
	&-img {
		padding-top: 38px;
		max-width: 100%;
        width: 45%;
	}
}
.fix-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* button styles !!!YOU NEED THEM 
!!!ALSO YOU NEED TO ADD FONTWESOME */
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  /* background-color: - add your own background-color */

  /* put your font-family */
  
  width: 320px;
  border-radius: 6px;
  overflow: hidden;
}



/* effect-4 styles */
.effect.effect-4 {
  color: black;
  transition: all 0.2s linear 0s;
}
.effect.effect-4:before {
  content: "";
  background: url('../static/img/about_travel/arrow.png') no-repeat center top 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
 
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  transition: all 0.2s linear 0s;
}
.effect.effect-4:hover {
  text-indent: -9999px;
}
.effect.effect-4:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
}

@media (max-width: 1658px) {
    .container-travel {
    padding: 0 40px;
    }
    .travel-img-l {
        width: 600px;
    }
}
@media (max-width: 1501px) {
    .travel-img-l {
        width: 500px;
    }
}
@media (max-width: 1370px) {
    .travel-img-l {
        width: 400px;
    }
}
@media (max-width: 1240px) {
    .travel-img {
        width: 80%;
    }
    .travel-img-l {
        width: 80%;
        margin: 0 auto;

    }
    .travel__text {
        width: 80%;
    
    }
    .about_travel-wrap, #travel-profile-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}
@media (max-width: 979px) {
    .travel-img-l {
        width: 700px;
        max-width: 780px;
        padding-right: 20px;
    }

    .about_travel-wrap {
    display: flex;
    flex-direction: column;
    }
}
@media (max-width: 846px) {
    .travel-img-l {
        width: 500px;
        height: auto;
    }
    #travel-profile-2 {
        padding-top: 22px;
        .travel__title {
        margin-top: 20px;
         }
    }
}
@media (max-width: 781px) {
     .container-travel {
    padding: 0 0px;
    }
    .back_animate {
        margin-top: 100px;
    }
}
@media (max-width: 558px) {
    .travel-img-l {
        width: 400px;

    }
}
@media (max-width: 458px) {
    .travel-img-l {
        width: 300px;

    }
}
@media (max-width: 358px) {
    .travel-img-l {
        width: 250px;

    }
}