
.contact-us-wrap {
	padding-left: 80px;
	display: flex;
	justify-content: space-between;
	font-size: 1.2em;
	

	.input-tickets__main {
		border-color: black;
		color: black;
	}
	.select-tickets .select__intup {
		border-color: black;
		color: black;
	}
	.input-tickets__grops_title {
		color: black;
	}
	#fix-contact-4 {

	}
	.field__icon_wrap {
		color: black;
		fill: black;
	}
	.field-tickets {
    display: flex;
    border: 1px solid #13293D;
    border-radius: 5px;
    height: 44px;
    color: inherit;
    border-color: inherit;
    width: 91%;
    cursor: pointer;
	}
	.fix-field {
		height: 44px;
	}
	.field-tickets__icon {
		width: 50px;
	}
	.field .field__icon_click, .field__icon {
		height: 100%;
		width: 44px;
	}
}
.contact {
	&__form {
		width: 80%;
		padding-top: 100px;
		color: black;
	}

	&__title {
		h1 {
			margin-top: 60px;
		
			color: #13293D;
		}
	}
}
.contact__form {
		.input-tickets__grops_title {
			font-size: 1.2em;

		}
	}
.maps-block {
	width: 45%;
	height: 1150px;

}
.contact_input {
	background: transparent;
	width: 230px;
	height: 30px;
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
 	
}
.contact_profile {
	height: 100px;
}
.label {
	padding: 15px 0;
	font-size: 1.2em;
}
.contact__textarea {
	width: 100%; /* Ширина поля в процентах */
	height: 150px;
	border-color: black;
	border-radius: 5px;
	margin-bottom: 50px;
    resize: none; /* Запрещаем изменять размер */
    padding: 20px;
    font-size: 1.2em;

    &:hover {
    	border-color: #1599FC;
    }
}
.contact_btn {
	
	width: 300px;
	font-size: 17px;
}

@media (max-width: 1711px) and (min-width: 1103px){
	.contact-us-wrap {
		.contact__form .input-tickets__grops_title {
			width: 400px;
		}
	}
}

@media (max-width: 1710px) {
	#fix-contact-3 {
	width: 91%;
	}
}
@media (max-width: 1491px) {
	.contact__form {
		.input-tickets__grops_title {
			font-size: 1em;
		}
	}
}
@media (max-width: 1287px) {
	.maps-block {
	width: 45%;
	height: 1000px;

	}
}
@media (max-width: 1180px) {
	.contact-us-wrap {
	padding-left: 40px;
	}
	.maps-block {
	width: 45%;
	height: 950px;

	}
	.contact__form {

	}
}
@media (max-width: 1102px) and (min-width: 781px) {
	.contact-us-wrap {
		.contact__form {
			margin-left: 40px;
			padding-top: 30px;
		}
		.input-tickets__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.input-tickets__grops {
			width: 100%;
			margin: 0 auto;
			margin-bottom: 100px;

		}
		.label {
			margin-top: 195px;
		}
		.contact__form .input-tickets__grops_title {
			padding-top: 10px;
		}
		#fix-contact-2 {
			padding-top: 0;
		}
		#fix-contact-4 {
			padding-top: 25px;
			width: 350px;
		}

	}
}
@media (max-width: 1065px) {
	.maps-block {
	width: 45%;
	height: 950px;

	}
	.contact__form {

	}
}
@media (max-width: 949px) {
	.maps-block {
	width: 45%;
	

	}
	.contact__form {

	}
}
@media (max-width: 847px) {
	.maps-block {
	width: 45%;


	}
	.contact__form {

	}
}
@media (max-width: 781px) {
	.contact-us-wrap {
		padding-left: 0;
		flex-direction: column;
		align-items: center;

		.tickets__section_title {
			margin-top: 130px;
		}
	}
	.maps-block {
	width: 100%;
	height: 430px;


	}
	.contact_profile {
		height: 100%;
	}
	.contact__form {
		padding-top: 30px;
	}
	.contact_btn {
		margin: 0 auto;
		margin-bottom: 50px;
	}
	
}
